**复习：**数据分析的第一步，加载数据我们已经学习完毕了。当数据展现在我们面前的时候，我们所要做的第一步就是认识他，今天我们要学习的就是**了解字段含义以及初步观察数据**。

## 1 第一章：数据载入及初步观察

### 1.4 知道你的数据叫什么
我们学习pandas的基础操作，那么上一节通过pandas加载之后的数据，其数据类型是什么呢？

**开始前导入numpy和pandas**

In [2]:
import numpy as np
import pandas as pd

#### 1.4.1 任务一：pandas中有两个数据类型DateFrame和Series，通过查找简单了解他们。然后自己写一个关于这两个数据类型的小例子🌰[开放题]

In [46]:
#写入代码
df = {
        "ID":[i for i in range(10)],
        "Name":[chr(i) for i in range(97,107)],
     }

df = pd.DataFrame(df)
df

   ID Name
0   0    a
1   1    b
2   2    c
3   3    d
4   4    e
5   5    f
6   6    g
7   7    h
8   8    i
9   9    j

In [48]:
s = {
        "A":1,
        "B":2,
        "C":3,
        "D":4
    }

s = pd.Series(s)

s

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
'''
#我们举的例子
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

In [ ]:
'''
#我们举的例子
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

#### 1.4.2 任务二：根据上节课的方法载入"train.csv"文件

In [3]:
#写入代码
train = pd.read_csv("train.csv")

也可以加载上一节课保存的"train_chinese.csv"文件。通过翻译版train_chinese.csv熟悉了这个数据集，然后我们对trian.csv来进行操作
#### 1.4.3 任务三：查看DataFrame数据的每列的名称

In [4]:
#写入代码
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 1.4.4任务四：查看"Cabin"这列的所有值[有多种方法]

In [12]:
#写入代码
train["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [66]:
train["Cabin"].tolist()

[nan,
 'C85',
 nan,
 'C123',
 nan,
 nan,
 'E46',
 nan,
 nan,
 nan,
 'G6',
 'C103',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D56',
 nan,
 'A6',
 nan,
 nan,
 nan,
 'C23 C25 C27',
 nan,
 nan,
 nan,
 'B78',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D33',
 nan,
 'B30',
 'C52',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B28',
 'C83',
 nan,
 nan,
 nan,
 'F33',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F G73',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C23 C25 C27',
 nan,
 nan,
 nan,
 'E31',
 nan,
 nan,
 nan,
 'A5',
 'D10 D12',
 nan,
 nan,
 nan,
 nan,
 'D26',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C110',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B58 B60',
 nan,
 nan,
 nan,
 nan,
 'E101',
 'D26',
 nan,
 nan,
 nan,
 'F E69',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D47',
 'C123',
 nan,
 'B86',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F2',
 nan,
 nan,
 'C2',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E33',
 nan,
 nan,
 nan,
 'B19',
 nan,
 nan,
 nan,
 'A7',
 nan,
 nan,
 'C49',
 nan,
 nan,
 nan,
 nan,
 nan,
 'F4',
 nan,
 'A32',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F2',
 'B4',
 'B80',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'G6',
 nan,
 nan,
 nan,
 'A31',
 nan,
 nan,
 nan,
 nan,
 nan,
 'D36',
 nan,
 nan,
 'D15',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C93',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C83',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C78',
 nan,
 nan,
 'D35',
 nan,
 nan,
 'G6',
 'C87',
 nan,
 nan,
 nan,
 nan,
 'B77',
 nan,
 nan,
 nan,
 nan,
 'E67',
 'B94',
 nan,
 nan,
 nan,
 nan,
 'C125',
 'C99',
 nan,
 nan,
 nan,
 'C118',
 nan,
 'D7',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A19',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B49',
 'D',
 nan,
 nan,
 nan,
 nan,
 'C22 C26',
 'C106',
 'B58 B60',
 nan,
 nan,
 nan,
 'E101',
 nan,
 'C22 C26',
 nan,
 'C65',
 nan,
 'E36',
 'C54',
 'B57 B59 B63 B66',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C7',
 'E34',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C32',
 nan,
 'D',
 nan,
 'B18',
 nan,
 'C124',
 'C91',
 nan,
 nan,
 nan,
 'C2',
 'E40',
 nan,
 'T',
 'F2',
 'C23 C25 C27',
 nan,
 nan,
 nan,
 'F33',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C128',
 nan,
 nan,
 nan,
 nan,
 'E33',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D37',
 nan,
 nan,
 'B35',
 'E50',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C82',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B96 B98',
 nan,
 nan,
 'D36',
 'G6',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C78',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E10',
 'C52',
 nan,
 nan,
 nan,
 'E44',
 'B96 B98',
 nan,
 nan,
 'C23 C25 C27',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A34',
 nan,
 nan,
 nan,
 'C104',
 nan,
 nan,
 'C111',
 'C92',
 nan,
 nan,
 'E38',
 'D21',
 nan,
 nan,
 'E12',
 nan,
 'E63',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 'A14',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B49',
 nan,
 'C93',
 'B37',
 nan,
 nan,
 nan,
 nan,
 'C30',
 nan,
 nan,
 nan,
 'D20',
 nan,
 'C22 C26',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B79',
 'C65',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E25',
 nan,
 nan,
 'D46',
 'F33',
 nan,
 nan,
 nan,
 'B73',
 nan,
 nan,
 'B18',
 nan,
 nan,
 nan,
 'C95',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B38',
 nan,
 nan,
 'B39',
 'B22',
 nan,
 nan,
 nan,
 'C86',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C70',
 nan,
 nan,
 nan,
 nan,
 nan,
 'A16',
 nan,
 'E67',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C101',
 'E25',
 nan,
 nan,
 nan,
 nan,
 'E44',
 nan,
 nan,
 nan,
 'C68',
 nan,
 'A10',
 nan,
 'E68',
 nan,
 'B41',
 nan,
 nan,
 nan,
 'D20',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A20',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C125',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F4',
 nan,
 nan,
 'D19',
 nan,
 nan,
 nan,
 'D50',
 nan,
 'D9',
 nan,
 nan,
 'A23',
 nan,
 'B50',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B35',
 nan,
 nan,
 nan,
 'D33',
 nan,
 'A26',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D48',
 nan,
 nan,
 'E58',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C126',
 nan,
 'B71',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B51 B53 B55',
 nan,
 'D49',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B5',
 'B20',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C68',
 'F G63',
 'C62 C64',
 'E24',
 nan,
 nan,
 nan,
 nan,
 nan,
 'E24',
 nan,
 nan,
 'C90',
 'C124',
 'C126',
 nan,
 nan,
 'F G73',
 'C45',
 'E101',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E8',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B5',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B101',
 nan,
 nan,
 'D45',
 'C46',
 'B57 B59 B63 B66',
 nan,
 nan,
 'B22',
 nan,
 nan,
 'D30',
 nan,
 nan,
 'E121',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B77',
 nan,
 nan,
 nan,
 'B96 B98',
 nan,
 'D11',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E77',
 nan,
 nan,
 nan,
 'F38',
 nan,
 nan,
 'B3',
 nan,
 'B20',
 'D6',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B82 B84',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D17',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B96 B98',
 nan,
 nan,
 nan,
 'A36',
 nan,
 nan,
 'E8',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B102',
 nan,
 nan,
 nan,
 nan,
 'B69',
 nan,
 nan,
 'E121',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B28',
 nan,
 nan,
 nan,
 nan,
 nan,
 'E49',
 nan,
 nan,
 nan,
 'C47',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C92',
 nan,
 nan,
 nan,
 'D28',
 nan,
 nan,
 nan,
 'E17',
 nan,
 nan,
 nan,
 nan,
 'D17',
 nan,
 nan,
 nan,
 nan,
 'A24',
 nan,
 nan,
 nan,
 'D35',
 'B51 B53 B55',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C50',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B42',
 nan,
 'C148',
 nan]

In [18]:
#写入代码
train["Cabin"].values

array([nan, 'C85', nan, 'C123', nan, nan, 'E46', nan, nan, nan, 'G6',
       'C103', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'D56', nan,
       'A6', nan, nan, nan, 'C23 C25 C27', nan, nan, nan, 'B78', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'D33', nan, 'B30', 'C52', nan, nan, nan,
       nan, nan, 'B28', 'C83', nan, nan, nan, 'F33', nan, nan, nan, nan,
       nan, nan, nan, nan, 'F G73', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'C23 C25 C27', nan, nan, nan, 'E31', nan,
       nan, nan, 'A5', 'D10 D12', nan, nan, nan, nan, 'D26', nan, nan,
       nan, nan, nan, nan, nan, 'C110', nan, nan, nan, nan, nan, nan, nan,
       'B58 B60', nan, nan, nan, nan, 'E101', 'D26', nan, nan, nan,
       'F E69', nan, nan, nan, nan, nan, nan, nan, 'D47', 'C123', nan,
       'B86', nan, nan, nan, nan, nan, nan, nan, nan, 'F2', nan, nan,
       'C2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'E33', nan, nan, nan, 'B19', nan, nan, nan, 'A7', nan,
       nan, 'C49', nan, nan, nan, nan, nan, 'F4', nan, 'A32', nan, nan,
       nan, nan, nan, nan, nan, 'F2', 'B4', 'B80', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'G6', nan, nan, nan, 'A31', nan, nan, nan,
       nan, nan, 'D36', nan, nan, 'D15', nan, nan, nan, nan, nan, 'C93',
       nan, nan, nan, nan, nan, 'C83', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, 'C78', nan, nan, 'D35', nan,
       nan, 'G6', 'C87', nan, nan, nan, nan, 'B77', nan, nan, nan, nan,
       'E67', 'B94', nan, nan, nan, nan, 'C125', 'C99', nan, nan, nan,
       'C118', nan, 'D7', nan, nan, nan, nan, nan, nan, nan, nan, 'A19',
       nan, nan, nan, nan, nan, nan, 'B49', 'D', nan, nan, nan, nan,
       'C22 C26', 'C106', 'B58 B60', nan, nan, nan, 'E101', nan,
       'C22 C26', nan, 'C65', nan, 'E36', 'C54', 'B57 B59 B63 B66', nan,
       nan, nan, nan, nan, nan, 'C7', 'E34', nan, nan, nan, nan, nan,
       'C32', nan, 'D', nan, 'B18', nan, 'C124', 'C91', nan, nan, nan,
       'C2', 'E40', nan, 'T', 'F2', 'C23 C25 C27', nan, nan, nan, 'F33',
       nan, nan, nan, nan, nan, 'C128', nan, nan, nan, nan, 'E33', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'D37', nan, nan, 'B35',
       'E50', nan, nan, nan, nan, nan, nan, 'C82', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'B96 B98', nan, nan, 'D36',
       'G6', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'C78', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'E10', 'C52', nan,
       nan, nan, 'E44', 'B96 B98', nan, nan, 'C23 C25 C27', nan, nan, nan,
       nan, nan, nan, 'A34', nan, nan, nan, 'C104', nan, nan, 'C111',
       'C92', nan, nan, 'E38', 'D21', nan, nan, 'E12', nan, 'E63', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'D', nan, 'A14', nan,
       nan, nan, nan, nan, nan, nan, nan, 'B49', nan, 'C93', 'B37', nan,
       nan, nan, nan, 'C30', nan, nan, nan, 'D20', nan, 'C22 C26', nan,
       nan, nan, nan, nan, 'B79', 'C65', nan, nan, nan, nan, nan, nan,
       'E25', nan, nan, 'D46', 'F33', nan, nan, nan, 'B73', nan, nan,
       'B18', nan, nan, nan, 'C95', nan, nan, nan, nan, nan, nan, nan,
       nan, 'B38', nan, nan, 'B39', 'B22', nan, nan, nan, 'C86', nan, nan,
       nan, nan, nan, 'C70', nan, nan, nan, nan, nan, 'A16', nan, 'E67',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'C101',
       'E25', nan, nan, nan, nan, 'E44', nan, nan, nan, 'C68', nan, 'A10',
       nan, 'E68', nan, 'B41', nan, nan, nan, 'D20', nan, nan, nan, nan,
       nan, nan, nan, 'A20', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'C125', nan, nan, nan, nan, nan, nan, nan, nan, 'F4', nan, nan,
       'D19', nan, nan, nan, 'D50', nan, 'D9', nan, nan, 'A23', nan,
       'B50', nan, nan, nan, nan, nan, nan, nan, nan, 'B35', nan, nan,
       nan, 'D33', nan, 'A26', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'D48', nan, nan, 'E58', nan, nan, nan, nan, nan,
       nan, 'C126', nan, 'B71', nan, nan, nan, nan, nan, nan, nan,
       'B51 B53 B55', nan, 'D49', nan, nan, nan, nan, nan, nan, nan, 'B5',
       'B20', nan, nan, nan, nan, nan, nan, nan, 'C68', 'F G63',
       'C62 C64', 'E24', nan, nan, nan, nan, nan, 'E24', nan, nan, 'C90',
       'C124', 'C126', nan, nan, 'F G73', 'C45', 'E101', nan, nan, nan,
       nan, nan, nan, 'E8', nan, nan, nan, nan, nan, 'B5', nan, nan, nan,
       nan, nan, nan, 'B101', nan, nan, 'D45', 'C46', 'B57 B59 B63 B66',
       nan, nan, 'B22', nan, nan, 'D30', nan, nan, 'E121', nan, nan, nan,
       nan, nan, nan, nan, 'B77', nan, nan, nan, 'B96 B98', nan, 'D11',
       nan, nan, nan, nan, nan, nan, 'E77', nan, nan, nan, 'F38', nan,
       nan, 'B3', nan, 'B20', 'D6', nan, nan, nan, nan, nan, nan,
       'B82 B84', nan, nan, nan, nan, nan, nan, 'D17', nan, nan, nan, nan,
       nan, 'B96 B98', nan, nan, nan, 'A36', nan, nan, 'E8', nan, nan,
       nan, nan, nan, 'B102', nan, nan, nan, nan, 'B69', nan, nan, 'E121',
       nan, nan, nan, nan, nan, 'B28', nan, nan, nan, nan, nan, 'E49',
       nan, nan, nan, 'C47', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'C92', nan, nan, nan, 'D28', nan, nan, nan, 'E17', nan, nan, nan,
       nan, 'D17', nan, nan, nan, nan, 'A24', nan, nan, nan, 'D35',
       'B51 B53 B55', nan, nan, nan, nan, nan, nan, 'C50', nan, nan, nan,
       nan, nan, nan, nan, 'B42', nan, 'C148', nan], dtype=object)

In [ ]:
#课程配套答案

"""
train["Cabin"].head(3)
train.Cabin.head(3)
"""

#### 1.4.5 任务五：加载文件"test_1.csv"，然后对比"train.csv"，看看有哪些多出的列，然后将多出的列删除
经过我们的观察发现一个测试集test_1.csv有一列是多余的，我们需要将这个多余的列删去

In [64]:
#写入代码
test_1 = pd.read_csv("/Users/a1234/Downloads/hands-on-data-analysis-master/第一单元项目集合/test_1.csv")
test_1.columns

#配套课程答案
#test_1.head()

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'a'],
      dtype='object')

In [65]:
#写入代码
test_1 = test_1.drop('a', axis = 1)
test_1.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

【思考】还有其他的删除多余的列的方式吗？

#### 1.4.6 任务六： 将['PassengerId','Name','Age','Ticket']这几个列元素隐藏，只观察其他几个列元素

In [ ]:
# 思考回答

#改变原始数据(配套课程答案)
del test_1['a']

#改变原始数据
test_1.drop('a', axis = 1, inplace = True)

#不改变原始数据,重新赋值（上面的思路）
test_1 = test_1.drop('a', axis = 1)

In [ ]:
#写入代码
train.drop(['PassengerId','Name','Age','Ticket'],axis=1)

【思考】对比任务五和任务六，是不是使用了不一样的方法(函数)，如果使用一样的函数如何完成上面的不同的要求呢？

【思考回答】

如果想要完全的删除你的数据结构，使用inplace=True，因为使用inplace就将原数据覆盖了，所以这里没有用

### 1.5 筛选的逻辑

表格数据中，最重要的一个功能就是要具有可筛选的能力，选出我所需要的信息，丢弃无用的信息。

下面我们还是用实战来学习pandas这个功能。

#### 1.5.1 任务一： 我们以"Age"为筛选条件，显示年龄在10岁以下的乘客信息。

In [ ]:
#写入代码
train[train["Age"]<10]

#### 1.5.2 任务二： 以"Age"为条件，将年龄在10岁以上和50岁以下的乘客信息显示出来，并将这个数据命名为midage

In [ ]:
#写入代码
midage = train[(train["Age"]>10) & (train["Age"]<50)]

#为什么不加括号就会报错呢？
#答：因为不加括号会导致符号运算顺序不同而运算错误

【提示】了解pandas的条件筛选方式以及如何使用交集和并集操作

#### 1.5.3 任务三：将midage的数据中第100行的"Pclass"和"Sex"的数据显示出来

In [ ]:
#写入代码
midage.iloc[99,2:5:2]

#配套课程答案
#midage = midage.reset_index(drop=True)  reset_index能够重置索引
#midage.loc[[100],['Pclass','Sex']] 为何是100呢？？？？

【提示】在抽取数据中，我们希望数据的相对顺序保持不变，用什么函数可以达到这个效果呢？

#### 1.5.4 任务四：使用loc方法将midage的数据中第100，105，108行的"Pclass"，"Name"和"Sex"的数据显示出来

In [ ]:
#写入代码
midage.loc[[99,104,107],["Pclass","Name","Sex"]]

#### 1.5.5 任务五：使用iloc方法将midage的数据中第100，105，108行的"Pclass"，"Name"和"Sex"的数据显示出来

In [ ]:
#写入代码
midage.iloc[[99,104,107],2:5]

#因为之前没有使用reset_index函数，所以前面索引数字是错误的

【思考】对比`iloc`和`loc`的异同

答：
iloc以坐标作为参数；
loc以列名行名作为参数